<div class="row justify-content-center">
  <div class="col-10">
    <%= render "shared/errors", obj: @article %>
    <%= form_with(model: @article, class: "shadow p-3 mb-4 bg-light rounded", local: true) do |f| %>
      <div class="form-group row">
        <%= f.label :title, class: "col-2 col-form-label" %>
        <div class="col-10">
          <%= f.text_field :title, class: "form-control shadow-sm", placeholder: "Titel..." %>
        </div>
      </div>
      <div class="form-group row mt-4">
        <%= f.label :description, class: "col-2" %>
        <div class="col-10">
          <%= f.text_area :description, rows: 10, class: "form-control shadow-sm", placeholder: "Description..." %>
        </div>
      </div>
      <div class="form-group row mt-4">
        <%= f.label :category, class: "col-2" %>
        <div class="col-10">
          <%= f.collection_select(:category_ids , Category.all, :id, :name, { prompt: "Make your selection / can be empty" }, { multiple: true, size: 5, class: "form-select shadow-sm" } ) %>
        </div>
      </div>
      <div class="form-group row mt-4 justify-content-center">
        <%= f.submit class: "btn btn-outline-secondary btn-lg col-2" %>
      </div>
    <% end %>
  </div>
  <div class="text-center mb-4">
    <%= link_to '[ Cancel & return to articles listing ]', articles_path, class: "link-light" %>
  </div>
</div>
